# Node.js
node_modules/
.env
.DS_Store
*.log

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# General
.vscode/
.idea/
.env.local
*.sqlite3
*.bak
*.tmp

# Output / Generated
dist/
build/
*.zip
*.tar.gz
